body {
  background: url('../img/19742.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.github {
  background-color: lightgray;
  color: black;
  padding:3px;
  font-size: 20px;
  margin-top: 10px;
  border: 1px solid black;
}

.rounded {
  border: 1px solid black;
}

.stripe { 
  border: 1px solid lightgray; 
  width: 100%; 
  margin: auto; 
  margin-top: 5%; 
  margin-bottom: 5%;
}

.heading {
  margin-left: 20px;
  color: black;
  font-size: 50px;
  display: inline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  color: teal;
  margin-top: 25px;
  width: auto;
  width: 100%;
  height: 500px;
}

.space {
  margin-bottom: 25px;
  margin-top: 25px;
}

#portfolio {
  background-color: white;
  width: 100%;
  padding: 30px;
  text-align: center;
}

#margin {
  margin-bottom: 10px;
  color: black;
}
.portfolio-container {
  font-family: 'Montserrat', sans-serif;
      
}

.git {
  font-size:0px;
  color: rgb(68, 68, 68);
}

.footer {
  height: 55px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#right {
  float: right;
}

@media only screen and (max-width: 768px) {
  #portfolio {
      background-color: white;
      margin-left: 0px;
      width: 80%;
      text-align: center;
  }
  }
  
  
.footerr{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  background-color: rgb(190, 184, 184);
}
  